html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Playfair Display", serif;
  color: #626262;
}

header, main {
  font-size: 0;
}

.container {
  width: 901px;
  margin: 0 auto;
}
/* site navigation */
.navigation ul {
  padding: 77px 0;
  margin: 0;
  text-align: center;
}

.site-navigation li {
  display: inline-block;
  margin-right: 106px;
}

.site-navigation li:nth-child(4) {
  margin-right: 0;
}

.site-navigation a {
  font-size: 14px;
  line-height: 24px;
  color: #626262;
  text-transform: uppercase;
  text-decoration: none;
}
.site-navigation a:hover,
.site-navigation a:focus {
  color: #03a9f4;
}

/* main */

.article {
  display: inline-block;
  width: 420px;
  margin-bottom: 126px;
}

.post {
  list-style: none;
  margin: 0;
  padding: 0;
}

.article-link {
  color: #b4ad9e;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  margin: 30px 0 30px 0;
}

.article h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  margin-bottom: 36px;
}

.article p {
  font-size: 14px;
  line-height: 24px;
}
.article {
  margin-right: 61px;
}
.article:nth-child(2n) {
  margin-right: 0;
}
.article:nth-child(5),
.article:nth-child(6) {
  margin-bottom: 0;
}

.button {
  text-align: center;
  padding: 56px 0 70px 0;
}
.button button {
  color: #626262;
  font-size: 20px;
  line-height: 24px;
  height: 62px;
  width: 164px;
  cursor: pointer;
  background: none;
}
