* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #555252;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

/* menu section */
.navigation {
  padding: 42px 0;
}
.logo {
  display: block;
  float: left;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 30px;
  line-height: 32px;
  color: #555252;
}

.logo::first-letter {
  font-weight: 900;
  color: #1abc9c;
}
.menu {
  float: right;
  width: 468px;
}

.menu li {
  float: left;
  list-style-type: none;
  margin-right: 30px;
  line-height: 32px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  color: #0f0101;
  font-size: 14px;
}

.menu a:hover {
  color: #1abc9c;
}

/* section title */
.section-title {
  padding: 92px 0;
}

.section-title h2 {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  text-align: center;
  color: #515151;
  font-size: 48px;
}

.section-title h2::after {
  content: "";
  display: block;
  width: 166px;
  height: 8px;
  background-color: #1abc9c;
  margin: 32px auto 0;
}

/* featured */
.image {
  width: 255px;
  height: 282px;
  display: block;
  background-color: #e9f0fd;
}

.featured-products li {
  float: left;
  list-style-type: none;
  margin-right: 30px;
  margin-bottom: 30px;
}
.featured-products li:nth-child(4n) {
  margin-right: 0px;
}

.product a, .price {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 40px;
  }

.product a{
  width: 186px;
  float: left;
}
.price {
  float: left;
  width: 55px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.44);
}
.product {
  padding-left: 14px;
  background-color: rgba(50, 50, 50, 1);
  }

  .featured:hover .product {
  background-color: rgba(26, 188, 156, 1);
}
.featured:hover .price {
  background-color: rgba(255, 255, 255, 0.44);
}


/* blog */
.article {
  width: 351px;
  list-style-type: none;
  float: left;
  margin-right: 28px;
}
.blog li:last-child {
  margin-right: 0;
}
.article img {
  margin-bottom: 14px;
}
.article h4 {
  margin: 0 0 28px 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #555252;
}
.article h4::after {
  content: "";
  display: block;
  width: 136px;
  height: 4px;
  background-color: #4ec6ab;
  margin-top: 12px;
}
.article p {
  margin: 0 0 14px;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #555252;
}

.brd {
  display: block;
  background-color: #4ec6ab;
  border-radius: 3px;
  text-decoration: none;
  font-weight: 300;
  color: #ffffff;
  font-size: 16px;
  width: 160px;
  text-align: center;
  line-height: 52px;
  margin-bottom: 82px;
}